.headerMenuWrapper {
    display: flex;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfoName {
    font-family: inherit;
    font-size: 18px;
    margin: 0 10px;
}

.avatar {

}