@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    background-color: #EBEEF3 !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
    font-size: 12px;
    height: 100vh;
}

input:not(input[type="checkbox"]), textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    min-height: 40px;
    font-size: 16px;
    padding: 5px 12px;
}

.blohLogo {
    font-size: 18px;
    color: #000000;
}

.header {
    padding: 0 22px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenu {
    
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEEF3;
}